.header {
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(98, 48, 185);
}

.message-box::-webkit-scrollbar {
    width: 6px;
}
.message-box::-webkit-scrollbar-thumb {
    background: #b7e9b9;
    border-radius: 10px;
}

.message-box::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
}

.animate {
    animation: changeScale infinite ease-in-out 0.4s;
}

@keyframes changeScale {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.02);
    }
    20% {
        transform: scale(1.04);
    }
    30% {
        transform: scale(1.06);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.08);
    }
    70% {
        transform: scale(1.06);
    }
    80% {
        transform: scale(1.04);
    }

    90% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
